.heroContent {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.left {
    width: 50%;
}

.logoText {
    display: flex;
    align-items: center;
    color: rgba(5, 150, 105, 1);
    gap: 0.5rem;
    margin-top: 56px;
    margin-left: 104px;
}

.logo {
    width: 8%;
    height: auto;
}

.text {
    width: 18%;
    font-size: 1.2rem;
    font-weight: 400;
}

.title {
    font-size: 3.5rem;
    margin-top: 5.25rem;
    margin-left: 78px;
    font-weight: 900;
    color: #064e3b;
}

.greenText {
    color: #10b981;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 4rem;
    margin-left: 78px;
}

.button2 {
    border: 1px solid #10b981;
}

.right {
    width: 50%;
    position: relative;
}

.heroImg {
    height: auto;
    width: 164%;
    display: block;
}

.discountDiv {
    width: 467px;
    display: flex;
    height: 108px;
    gap: 3rem;
    position: absolute;
    top: 570px;
    padding-top: 8px;
    left: -5rem;
    background-color: white;
}

.text1 {
    width: 117px;
    height: 22px;
    font-size: 1rem;
    font-weight: 700;
    color: #047857;
    margin-left: 0.9rem;
}
.text2 {
    width: 287px;
    height: 18px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #059669;
    margin-left: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 18.2px;
    margin-top: 0.2rem;
}

.timeDiv {
    width: 425px;
    height: 108px;
    background: linear-gradient(360deg, #059669 0%, #10b981 100%);
    position: absolute;
    top: 78%;
    left: -9%;
    padding-left: 55px;
    padding-top: 15px;
}

.times {
    display: flex;
    width: 321px;
    height: 69px;
    justify-content: space-between;
    color: white;
}

.time,
.colon {
    font-size: 3rem;
}

.textText {
    font-size: 15px;
}
