.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    flex: 1;
    background: linear-gradient(45deg, #059669 0%, #10b981 100%), #059669;
    border: 1px solid #1301010c;
    padding: 0rem 3rem;
    padding-bottom: 6.12rem;
    box-sizing: border-box;
    color: white;
}

.name {
    font-size: 2.2rem;
    line-height: 3.5rem;
    margin-top: 6.12rem;
    font-weight: 700;
    margin-right: 6.12rem;
}

.line {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.both {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.price {
    font-size: 1.1rem;
    background-color: #047857;
    border-radius: 1rem;
    width: 35%;
    height: 1.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-top: 1rem;
}
.number {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.media {
    width: 100%;
    height: auto;
    margin-top: 1.25rem;
    box-shadow: -10px 12px 2px 0px rgba(0, 0, 0, 0.25);
}

.end {
    display: flex;
    gap: 0.75rem;
    font-size: 1.5rem;
    margin-top: 2.56rem;
}

.arrow {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.serviceButton {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.btn {
    width: 14.25rem;
    height: 3.75rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    background: linear-gradient(270deg, #059669 0%, #10b981 100%);
    color: white;
}
